* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Shippori Mincho', serif;
  font-size: 25px;
  background-color: #000000;
  color: #c7d5df;
}

#subMe {
  color: white;
  background-color:#04428E;

}
.playerN {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  color: #DD0024;
}

.headerTitle {
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom:30px ; 
  font-family: 'Nunito Sans', sans-serif;
  border: 3px solid;
  padding: 80px;
  background-image:url('https://24.media.tumblr.com/36ad2ee279a33d6446caa8cd4005bb6c/tumblr_n1zvprWw7d1qedb29o1_500.gif');
  background-repeat: no-repeat; 
  background-position: center;
  color: #B3ACB1; 
  background-size: 700px;
}

.headerTwo {
  font-size: 38px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px; 
  color: whitesmoke; 
}

